# Global owners
* @Uchantal @Darlington6 @Nmesoma-solomon-peter @sharangabo

# Backend
/backend/ @Nmesoma-solomon-peter @Darlington6 

# Frontend
/frontend/ @sharangabo @Uchantal

# DevOps
/.github/ @Uchantal @Darlington6 @Nmesoma-solomon-peter @sharangabo
/docker-compose.yml @Uchantal @Darlington6 @Nmesoma-solomon-peter @sharangabo
